.experiencia{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    padding: 40px 20px;   
    margin: 0 auto;
    gap:100px;
}
.experiencia .subtitulo{
    color: #e0e0e0;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.comeco{
    font-size: 24px;
    margin-bottom: 60px;
    max-width: 20ch;
    line-height: 1.33;
    color: #525252;
}
.comeco strong{
    color: #141414;
}
.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F5f5f5;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
    gap:10px 20px;
    position: relative;
}

.empresa_ano{
    font-size:0.875rem;
    position: absolute;
    color: #525252;
    text-align:right;
    padding: 0;
    left:-100px;
    top: 30px;
    width:80px;
}
.empresa::after{
    content: '';
    width: 5px;
    height: 21px;
    display: inline-block;
    position: absolute;
    background: linear-gradient(#b6f829, #67dd0a);
    left: -5px;
    top: 28px;
}
.empresa_nome{
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.1;
}
.empresa_descricao{
    font-size: 0.875rem;
    color: #525252;
    line-height: 1.4;

}
.empresa_habilidades{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-content: start;
}
.empresa_habilidades li{
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 5px 10px;
}
@media(max-width:800px){
    .experiencia{
        grid-template-columns: 1fr;
    }
    .experiencia .subtitulo{
        color: #000;
    }
    .empresa_ano{
        position: initial;
        order: 1;
        text-align: start;
    }
}